@import url('https://fonts.googleapis.com/css2?family=Freeman&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

body {
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    overflow: hidden; 
}

.background-left {
    background-image: url(../assets/fundoRoxo.jpg);
    background-size: cover;
    background-position: center; 
    width: 40%;
    height: 100vh; 
    display: flex;
    align-items: center;
}

.background-right {
    background-image: url(../assets/fundoPreto.jpg);
    background-size: cover;
    background-position: center;
    width: 60%;
    height: 100vh; 
    display: flex;
    align-items: center;
}

.container {
    width: 400px;
    padding: 35px;
    background-color: #6149A7;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 0 auto; 
    position: relative; 
    z-index: 1; 
}

.container h2 {
    font-family: 'Freeman', sans-serif;
    color: antiquewhite;
    display: flex;
    justify-content: center;
}

form {
    display: flex;
    flex-direction: column;
}

.form-group {
    margin-bottom: 15px;
}

label {
    margin-bottom: 5px;
   color: #000000;
    font-weight: bold;
    font-family: 'BebasNeue', sans-serif;

}


input[type="text"],input[type= "email"],
input[type="password"] {
    padding: 8px;
    background-color: antiquewhite;
    width: calc(100% - 16px);
    border: 1px solid antiquewhite;
    border-radius: 10px;
    margin-bottom: 10px;
}

button[type="submit"] {
    padding: 10px;
    background-color: #000200;
    color: antiquewhite;
    border: none;
    font-family: 'BebasNeue', sans-serif;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button[type="submit"]:hover {
    background-color: #000200;
}

a {
    margin-top: 30px;
    text-decoration: none;
    color:  antiquewhite;
    font-size: 14px;
    text-align: center;
    display: block;
    font-weight: bold;
    font-family: 'BebasNeue', sans-serif;
}
.containerLink{
background-color: antiquewhite;
border-radius: 10px;
height: 30px;
display: flex;
justify-content: center;
align-items: center;
margin-top: 10px;
}

#link{
    text-decoration: underline;
    font-family: 'BebasNeue', sans-serif;
    font-weight: bold;
    color:#000000;
}

.modal {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%; 
    max-width: 500px; 
    height: auto; 
    border-radius: 10px; 
    z-index: 2;
    overflow-y: auto; 
}


.modal-content {
    width: 400px;
    padding: 35px;
    background-color: #6149A7;
    border-radius: 10px;
    margin: 0 auto; 
    position: relative; 
    z-index: 1; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center;
    align-items: end;
}

.close {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}
#user{
    font-family: 'Freeman', sans-serif;
    color: antiquewhite;
}
